default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\DemoContext
                - App\Tests\Behat\RatingContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
